/* Para importar la fuente desde google fonts directamente al css */
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #666;
  color: #111;
  margin: 0;
  padding: 0;
}

p{
  font-family: 'Reenie Beanie', cursive;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
}

.contenedor-app {
  padding: 20px;
  text-align: center;
}

.nueva-nota input,
.nueva-nota textarea,
.nueva-nota button{
  margin: 10px auto;
  padding: 8px;
  margin-right: 5px;
}

.contenedor-notas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.nota {
  background-color: #FFFFCC;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  rotate: -2deg;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgb(54, 54, 54);
}

.nota.important {
  background-color: #EC7063;
  rotate: 2deg;
}

.cerrar {
  position: absolute;
  top: 5px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* @media (max-width: 600px) {
  .contenedor-notas {
    grid-template-columns: 2fr;
  }
} */
